/****************************************

GLOBAL

****************************************/
html {
    width:100%;
}
/****************************************

VARIABLES

****************************************/
/****************************************

NAV

****************************************/
/****************************************

MAIN

****************************************/
.inner-content {
    padding: 0px !important;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.hero-banner {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.main-banner-wrapper {
    width: inherit;
}

img.img-responsive {
    object-fit: cover;
}

/****************************************

TRIPLE

****************************************/
.wrapper {
    width: 1200px;
}

.section-triple {
    margin-left: 35px;
    margin-bottom: 200px;
    text-align:center;
}

.section-triple span {
    width: 300px;
    letter-spacing: 0.40px;
    margin: 10px;
    margin-bottom: 40px;
}

.section-triple span .quad {
    display: inline-block;
    width: 50px;
    height: 150px;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.40px;
    margin: 10px;
    margin-bottom: 60px;
    vertical-align: top;
}

/****************************************

VIDEO

****************************************/
.section-video-wrapper .info {
    display: inline-block;
    width: 550px;
    vertical-align: top;
    height: 400px;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.section-video-wrapper .info h3 {
    font-size: 26px;
    font-weight: 300;
    line-height: 40px;
}

/****************************************

Full width video

****************************************/
/****************************************

ROCKSTARS

****************************************/
/****************************************

BLOG

****************************************/
.section-blog span.aspot {
    height: 250px;
}

.section-blog span.bspot {
    height: 250px;
}

.section-blog span.cspot {
    width: calc(88%/3);
    height: 250px;
}

.section-blog .heading-button:hover {
    background-color: #8272b3;
    color: #fff;
    border: 1px solid #8272b3;
}

.blog-wrapper.section-blog img {
    object-fit: cover;
}

.blog-wrapper.section-blog img#blog_giocalebberto {
    object-position: top;
}

.blog-wrapper.section-blog img#blog_gio {
    object-position: top;
}

/****************************************

    MEDIA QUERIES

***************************************/
/*Tablets*/
@media screen and (max-width: 769px) {
    /**Global******************************/ 
    /**Variables***************************/
    /**Nav...******************************/
    /**Main********************************/
    .main-banner-wrapper img {
        object-fit: cover;
    }

    .headings {
        padding-top: 0px;
    }

    .sub-headings {
        padding-top: 0px;
    }

    .heading-button {
        background-color: rgba(255, 255, 255, 0.23);
        font-size:medium;
    }
    
    .main-banner-wrapper {
        height: 100%;
        margin: 0 auto;
    }

    .main-banner-overlay {
        height: 100%;
        margin: 0 auto;
    }

    .main-banner {
        height: 350px;
        margin: 0 auto;
    }

    .main-wrapper.header img {
        margin: 0px 0px 0px 20px;
    }

    /**Triple******************************/
    .wrapper.section-triple {
        width: inherit;
        margin-bottom: 80px;
    }

    .wrapper.section-triple span {
        margin: 50px 20px 90px 20px;
        text-align: center;
        
    }
    
    .wrapper.section-triple span p{
        font-size:medium;
        line-height:150%;
    }

    .wrapper.section-triple span.heading-button {
        margin: 0px 0px 0px 0px;
        font-size:medium;
    }

    .wrapper.section-triple span:nth-child(5) {
        margin-left: 195px;
    }

    /**Video*******************************/
    .section-video-wrapper {
        width: inherit;
    }

    .section-video-wrapper .info {
        margin: 15px 118px 15px 100px;
    }

    .section-video-wrapper .info .heading-button {
        font-size:medium
    }

    .section-video-wrapper .info p{
        font-size:medium
    }


    .video {
        margin: 0px 5px 0px 60px;
    }

    /**Rockstars***************************/
    .rockstars-wrapper.section-rockstars {
        width: 100%;
        margin: 0;

    }

    img#nelshern {
        width: 95%;
        height: 60%;
    }

    img#humberto {
        width: 95%;
        height: 60%;
    }

    img#rachelpautler {
        width: 95%;
        height: 60%;
    }

    img#tinachan {
        width: 95%;
        height: 60%;
    }

    .rockstars-wrapper.section-rockstars span.box {
        width: 95%;
        height: 75%;
        border: 0;

    }

     .rockstars-wrapper.section-rockstars .heading-button{
        font-size:medium;
    }

    /**Blog********************************/
    .blog-wrapper.section-blog {
        width: inherit;
        margin-top: 95px;
    }

    .blog-wrapper.section-blog img {
        object-fit: cover;
    }

    .blog-wrapper.section-blog span {
        height: 80%;
    }

    .blog-wrapper.section-blog .heading-button {
        font-size:medium;
    }
}

/*Phones*/
@media screen and (max-width: 427px) {
    /**Global******************************/
    html{
        width:180.8%;
    }
    /**Variables***************************/
    /**Nav...******************************/
    /**Main********************************/


    .inner-content .heading-button{
        display:block; 
        width:inherit;
        transform:translateY(-100%);
        font-size:large;

    }

    .sub-headings{
        font-size:x-large;
    }
    /**Triple******************************/
    .wrapper.section-triple {
        width: inherit;
        margin-bottom: 80px;
        margin-left:0;
        text-align:center;
    }

    .wrapper.section-triple span {
        display:block;
        width:inherit;
        margin-bottom:auto;
        height:auto;
        margin:auto
        text-align: center;
        
    }
    
    .wrapper.section-triple span p{
        font-size:medium;
        line-height:150%;
        text-align: center;
        font-size:x-large;
    }

    .wrapper.section-triple span h3{
        font-size:medium;
        line-height:150%;
        text-align: center;
        font-size:50px;
    }

    .wrapper.section-triple span.heading-button {
        font-size:25px;
        margin-left:130px;
        width:400px;

    }

    .wrapper.section-triple span:nth-child(5) {
        margin-left: 15px;
        text-align: center;
    }
    
    /**Video*******************************/
    .section-video-wrapper .info{
        width:inherit;
        margin:auto;
        height:auto;
        text-align:center;
    }
    
    .section-video-wrapper .info .heading-button{
        font-size:25px;
    }
    .section-video-wrapper .info p{
        font-size:x-large;
        line-height:inherit;
    }

    .section-video-wrapper .info h3{
        font-size:xx-large;
        line-height:inherit;
    }

    /**Rockstars***************************/
    .rockstars-wrapper.section-rockstars {
        width: 100%;
        margin: 0;

    }

    img#nelshern {
        object-fit:cover;
        width: 100%;
    }

    img#humberto {
        object-fit:cover;
        width: 100%;
    }

    img#rachelpautler {
        object-fit:cover;
        width: 100%;
    }

    img#tinachan {
        object-fit:cover;
        width: 100%;
    }
    
    .rockstars-wrapper.section-rockstars span{
        
    }
    
    /**Blog********************************/
}

/*Smaller Phones*/
@media screen and (max-width: 300px) {
}
