/****************************************

GLOBAL

****************************************/

/****************************************

NAV

****************************************/

/****************************************

MAIN

****************************************/
/*size indicator*/
    .navbar{
    //background-color:aqua;
    }
.inner-content{        
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        
    }
/****************************************

TRIPLE

****************************************/

/****************************************

VIDEO

****************************************/

/****************************************

ROCKSTARS

****************************************/

/****************************************

BLOG

****************************************/

/*Tablets*/
@media screen and (max-width:768px) {
    /*size indicator*/
    .navbar{
    //background-color:blue;
    }
    /**Global******************************/
    /**Variables***************************/ 
    /**Nav...******************************/
    /**Main********************************/
    /**Triple******************************/
    /**Video*******************************/
    /**Rockstars***************************/
    /**Blog********************************/
}

/*Large Phones*/
@media screen and (max-width:425px) {
    /*size indicator*/
    .navbar{
    background-color:green;
    }
    /**Global******************************/
    /**Variables************../images/aspot/rockstars_julia_heroimage.jpg
    /**Nav...******************************/
    /**Main********************************/
    .inner-content{        
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        
    }
    /**Triple******************************/
    /**Video*******************************/
    /**Rockstars***************************/
    /**Blog********************************/
}

/*Smaller Phones*/
@media screen and (max-width:320px) {
    /*size indicator*/
    .navbar{
    //background-color:red;
    }
    /**Global******************************/ /**Variables***************************/ /**Nav...******************************/ /**Main********************************/ /**Triple******************************/ /**Video*******************************/ /**Rockstars***************************/ /**Blog********************************/
}
