/****************************************

GLOBAL

****************************************/

/****************************************

VARIABLES

****************************************/
/****************************************

NAV

****************************************/
/****************************************

MAIN

****************************************/
/****************************************

TRIPLE

****************************************/
/****************************************

VIDEO

****************************************/
/****************************************

Full width video

****************************************/
/****************************************

ROCKSTARS

****************************************/
.section-rockstars .box {
  border: 1px solid #b73636;
}
/****************************************

BLOG

****************************************/
/****************************************

    MEDIA QUERIES

***************************************/
/*Tablets*/
@media screen and (max-width:800px){
/**Global******************************/
    
  html.no-js{
    width:inherit;
    height:inherit;
  }
/**Variables***************************/
/**Nav...******************************/
/**Main********************************/ 
    div.main-wrapper.header{
    width:inherit;
  }
  
   div.main-wrapper.header img{
    margin:0px 0px 0px 20px;
  }
    
    div.main-banner {
    width:inherit;
    height: 340px;
    margin: 0 auto;
    
  }
  
  .main-banner-wrapper .inner-content {
  position: relative;
  top: 90%;
  transform: translateY(-50%);
  }


  .inner-content .headings{
    padding-top:50px;
  }

  div.main-banner-wrapper{
    width:100%;
    height:62%;
  }

  div.main-banner-wrapper img{
    width:100%;
    height:96%
  }

  div.main-banner-overlay{
    width:99%;
    height:62%;
  }

    div.heading-button{
    background-color:rgba(255, 255, 255, 0.23);
  }

  .main-banner-wrapper img{
    object-fit:cover;
  }
/**Triple******************************/
    div.wrapper.section-triple{
    width:inherit;
  }
    div.wrapper.section-triple{
    margin:50px 20px 90px 20px;
  }

  div.wrapper.section-triple span{
    margin:50px 20px 90px 20px;
  }
  div.wrapper.section-triple span.heading-button{
    margin:0px 20px 0px 20px;
  }
    
     div.wrapper.section-triple span.quad:nth-child(5){
    margin-left:255px;
  }

  div.wrapper.section-triple span.quad img{
    margin-left:70px;
  }

  div.wrapper.section-triple span.quad h3{
    text-align:center;
  }

  div.wrapper.section-triple span.quad p{
    text-align:center;
  }

  div.wrapper.section-triple span.quad:nth-child(3) h3{
    text-align:left;
    margin-left:70px;
  }

  div.wrapper.section-triple span.quad:nth-child(4) img{
    margin-left:75px;
  }
  
/**Video*******************************/
     div.section-video-wrapper{
    width:inherit;
  }
    div.section-video-wrapper div.info{
    margin:15px 118px 15px 100px; 
  }

  div.video {
    margin: 0px 5px 0px 60px;
  }
    
   div.section-video-wrapper div.info{
   margin:0px 0px 70px 120px;
  }   

  .video img{
    object-fit:cover;
  }
    
/**Rockstars***************************/
      div.rockstars-wrapper.section-rockstars{
    width:100%;
    margin:0;
  }
    div.rockstars-wrapper.section-rockstars span.box{
    width:95%;
    height:75%;
    border:0;
  }
    
    div.rockstars-wrapper.section-rockstars span{
    margin:15px 50px 20px 0px;
  }

  div.rockstars-wrapper.section-rockstars span.heading-button{
    margin-left:50px;
  }

  div.rockstars-wrapper.section-rockstars img{
    width:225px;
  }

  /*rockstars*/
   div.rockstars-wrapper.section-rockstars span.dspot{
    display:inline-block;
    margin:0px;
    margin-bottom:0px;
    width:120px;
  }

  div.rockstars-wrapper.section-rockstars span.dspot img{
    display:inline-block;
    margin:0px 0px 0px 0px;
    width:120px;
  }

  div.rockstars-wrapper.section-rockstars h3 img{
    width:inherit;
  }

  div.rockstars-wrapper.section-rockstars span{
    width:200px;     
  }
  
  div.rockstars-wrapper.section-rockstars img#tinachan{
    width:225px;
  }
  
  div.rockstars-wrapper.section-rockstars img#rachelpautler{
    width:225px;
  }

  div.rockstars-wrapper.section-rockstars span.heading-button{
    margin:inherit;
  }
/**Blog********************************/ 
    div.blog-wrapper.section-blog{
    margin-top:95px;
  }
}

/*Phones*/
@media screen and (max-width:400px){


}

/*Smaller Phones*/
@media screen and (max-width:300px){



}
