/****************************************

GLOBAL

****************************************/
html.no-js {
    width:100%;
}
/****************************************


VARIABLES

****************************************/
/****************************************

NAV

****************************************/
/****************************************

MAIN

****************************************/
/****************************************

TRIPLE

****************************************/
/****************************************

VIDEO

****************************************/
/****************************************

Full width video

****************************************/
/****************************************

ROCKSTARS

****************************************/
/****************************************

BLOG

****************************************/
/****************************************

    MEDIA QUERIES

***************************************/
/*Tablets*/
/**Global******************************/ html.no-js {
    width:inherit;
    height: inherit;
}

/**Variables***************************/
/**Nav...******************************/
/**Main********************************/
.main-wrapper.header {
    width: inherit;
}

.main-wrapper.header img {
    margin: 0px 0px 0px 20px;
}

.main-banner {
    width: inherit;
    height: ;
}

.main-banner-wrapper img {
    object-fit: cover;
}

.main-banner-wrapper {
    height: 100%;
    margin: 0 auto;
}

.main-banner-wrapper .inner-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.main-banner-overlay {
    height: 100%;
    margin: 0 auto;
}

.main-banner {
    height: 350px;
    margin: 0 auto;
}

.main-banner-wrapper {
    width: 100%;
}

.main-banner-wrapper img {
    width: 100%;
    height: 96%
}

.main-banner-overlay {
    width: 99%;
    height: 62%;
}

/**Triple******************************/
.wrapper.section-triple {
    width: inherit;
}

.wrapper.section-triple {
    margin: 50px 20px 30px 20px;
}

.wrapper.section-triple span {
    margin: 50px 20px 90px 20px;
}

.wrapper.section-triple span.heading-button {
}

.wrapper.section-triple span.quad:nth-child(5) {
    margin-left: 255px;
    margin-top: 60px;
}

.quad {
    text-align: center;
    display: block;
}

.wrapper.section-triple span.quad h3 {
    text-align: center;
}

.wrapper.section-triple span.quad p {
    text-align: center;
}

/*
.wrapper.section-triple span.quad:nth-child(3) h3 {
    text-align: left;
    margin-left: 70px;
}*/

.wrapper.section-triple p {
    font-size: medium;
}

/**Video*******************************/
.section-video-wrapper {
    max-width: 85%;
    display: block;
    margin: 0 auto;

}

.section-video-wrapper .info {
}

.video {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.section-video-wrapper .info {
    height:inherit;
}

.section-video-wrapper .info p {
    font-size: medium;
}

.section-video-wrapper .info span.heading-button {
    font-size: medium;
}

/**Rockstars***************************/
.rockstars-wrapper.section-rockstars {
    width: 100%;
    margin-top: auto;
}

.rockstars-wrapper.section-rockstars p {
    font-size: medium;
}

.rockstars-wrapper.section-rockstars span img {
    object-fit: cover;
    width: 95%;
    height: 75%;
    border: 0;
}

.rockstars-wrapper.section-rockstars span {
    width: 30%;
}

.rockstars-wrapper.section-rockstars span.box {
    width: 94%;
}

.rockstars-wrapper.section-rockstars span.heading-button{
    font-size:medium;
}

/**Blog********************************/
.blog-wrapper.section-blog {
    margin-top: 95px;
    width: inherit;
}