/****************************************

GLOBAL

****************************************/
/****************************************

VARIABLES

****************************************/
/****************************************

NAV

****************************************/

/****************************************

MAIN

****************************************/
/****************************************

TRIPLE

****************************************/

/****************************************

VIDEO

****************************************/
/****************************************

Full width video

****************************************/
/****************************************

ROCKSTARS

****************************************/

.section-rockstars span.dspot {
  display: inline-block;
  width: 150px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  vertical-align: top;
  height: 400px;
}
/****************************************

BLOG

****************************************/
/****************************************

    MEDIA QUERIES

***************************************/
/*Tablets*/
@media screen and (max-width:800px){
/**Global******************************/
    html.no-js{
    width:inherit;
    height:inherit;
  }
/**Variables***************************/
/**Nav...******************************/
/**Main********************************/ 
    .main-wrapper.header{
    width:inherit;
  }
  
    .main-wrapper.header img{
    margin:0px 0px 0px 20px;
  }
     .main-banner {
    width:inherit;
  }
    .inner-content .headings{
    padding-top:50px;
  }
    
     .heading-button{
    background-color:rgba(255, 255, 255, 0.23);
  }

   .main-banner-wrapper{
    width:100%;
    height:62%;    
  }

   .main-banner-wrapper img{
    width:100%;
    height:96%
  }

   .main-banner-overlay{
    width:99%;
    height:62%;

  }

    .main-banner-wrapper {
  height: 100%;
  margin: 0 auto;
  }

  .main-banner-wrapper img{
    object-fit:cover;
  }

  .main-banner-overlay {
  height: 100%;
  margin: 0 auto;
  }

  .main-banner{
  height: 350px;
  margin: 0 auto;
  }

  .main-banner-wrapper .inner-content {
  position: relative;
  top: 85%;
  transform: translateY(-50%);
  }


/**Triple******************************/
      .wrapper.section-triple{
    width:inherit;
  }
   .wrapper.section-triple{
    margin:50px 20px 90px 20px;
  }

   .wrapper.section-triple span{
    margin:50px 20px 90px 20px;
  }
   .wrapper.section-triple span.heading-button{
    margin:0px 20px 0px 20px;
  }
    
  .wrapper.section-triple span.quad:nth-child(5){
    margin-left:255px;
  }

   .wrapper.section-triple span.quad img{
    margin-left:70px;
  }

   .wrapper.section-triple span.quad h3{
    text-align:center;
  }

   .wrapper.section-triple span.quad p{
    text-align:center;
  }

   .wrapper.section-triple span.quad:nth-child(3) h3{
    text-align:left;
    margin-left:70px;
  }

   .wrapper.section-triple span.quad:nth-child(4) img{
    margin-left:75px;
  }
  
/**Video*******************************/
     .section-video-wrapper{
    width:inherit;
  }
       .section-video-wrapper  .info{
    margin:15px 118px 15px 100px; 
  }

   .video {
    margin: 0px 5px 0px 60px;
  }
    
     .section-video-wrapper  .info{
   margin:0px 0px 70px 120px;
  }

/**Rockstars***************************/  
   .rockstars-wrapper.section-rockstars{
    width:100%;
    margin:0;
  }
      .rockstars-wrapper.section-rockstars span.box{
    width:95%;
    height:75%;
    border:0;
  }
    
   .rockstars-wrapper.section-rockstars span{
    margin:15px 50px 20px 0px;
  }

   .rockstars-wrapper.section-rockstars span.heading-button{
    margin-left:50px;
  }

   .rockstars-wrapper.section-rockstars img{
    width:225px;
  }

   .rockstars-wrapper.section-rockstars:nth-child(5){
    padding-left:19px;
    width:inherit;
    height:inherit;
  }
 .rockstars-wrapper.section-rockstars span.dspot{
    display:inline-block;
    margin:0px;
    margin-bottom:0px;
    width:120px;
  }

   .rockstars-wrapper.section-rockstars span.dspot img{
    display:inline-block;
    margin:0px 0px 0px 0px;
    width:120px;
  }

   .rockstars-wrapper.section-rockstars h3 img{
    width:inherit;
  }

   .rockstars-wrapper.section-rockstars span{
    width:200px;     
  }
  
   .rockstars-wrapper.section-rockstars img#tinachan{
    width:225px;
  }
  
   .rockstars-wrapper.section-rockstars img#rachelpautler{
    width:225px;
  }

   .rockstars-wrapper.section-rockstars span.heading-button{
    margin:inherit;
  }

  
/**Blog********************************/
   .blog-wrapper.section-blog{
    margin-top:95px;
  }
  
  

  
  
 
  /*rockstars*/

  

  

}

/*Phones*/
@media screen and (max-width:400px){


}

/*Smaller Phones*/
@media screen and (max-width:300px){



}