$footer-bg-color: rgb(239, 238, 248);

footer {
    border-top-color: rgb(221,221,221);
    border-top-style: solid;
    border-top-width: 1px;

    font-size: 16px;
    
    background-color: $footer-bg-color;
    padding-top: 80px;
    padding-bottom: 60px;

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .rights-reserved {
        padding-top: 20px;
        color: #aaa;
        font-size: 11px;
    }

    i {
        // margin-right: 15px;
        width: 27.5px;
    }
}

.footer-content {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    a {
        color: #5c5c5c !important;
    }
    
    a:hover {
        color: rgb(121, 108, 198) !important;
        text-decoration: none;
    }
}

.footer-content--header {
    text-transform: capitalize;
    color: #252525;
    font-weight: bold;
    margin-bottom: 5px;
}

// Mailchimp related styling
#mc_embed_signup {
	background-color: $footer-bg-color;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
}

#mc_embed_signup form {
    padding-left: 0 !important;
    padding-top: 0 !important;
}

#mc_embed_signup .mc-field-group {
    min-height: 0 !important;
    padding-bottom: 10px !important;
}

#mc-embedded-subscribe {
    background-color: #5a518e !important;
}

#mc_embed_signup .mc-field-group label {
    display: none !important;
}

#mc_embed_signup .mc-field-group,
#mc_embed_signup .button {
    width: 90% !important;
}

.mc-modal-bg {
    opacity: 0.6 !important;
}