
.join-wrapper {
    p {
        margin-bottom: 1rem;
    }
}

.value-prop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

    h3 {
        margin-top: 20px;
    }

    p {
        font-weight: normal;
        font-size: 18px;
    }
}

.story-section {
    .row {
        > div { // targetting the columns
            padding: 0;
        }
    }
}