
.join-wrapper {
    p {
        margin-bottom: 1rem;
    }
}

.value-prop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.value-prop--description {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.story-section {
    .row {
        > div { // targetting the columns
            padding: 0;
        }
    }
}



.learn-more {
    margin-top: -5px !important;
}