@import "typography.scss";
@import "buttons.scss";

@import "./footer.scss";

.btns-below-hero {
	margin: 10 auto;
}

.hero-cta {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	.hero-btn {
		margin: 7.5px
	}
}

.hero-btn {
	border: 1px solid transparent;
	border-width: 1px;
	border-color: white;
	color: white;
	background-color: transparent;
	padding: 15px 50px;
}
.hero-title {
	font-weight: 500;
	font-size: 33px;
}
.hero-subtitle {
	font-size: 1.2rem;
	font-weight: normal;
}

.hero-btn:hover {
	color: rgb(121, 108, 198);
	border-color: rgb(121, 108, 198);
	text-decoration: none;
}

.hero-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	width: 100%;
	position: relative;
	text-align: center;

	// 100vh config
	// height: 100vh;
	// margin-top: -50px;
	// z-index: -1;

	@media (max-width: 575px) {
		// height: 250px;

		// Special treatment.
		height: 100vh;
		margin-top: -50px;
		z-index: -1;
	}

	/* Small devices (landscape phones, 576px and up) */
	@media (min-width: 576px) and (max-width: 767px) {
			height: 300px;
	}

	/* Medium devices (tablets, 768px and up) */
	@media (min-width: 768px) and (max-width: 991px) {
			height: 400px;
	}
}

.inner-content {
	color: white;
	text-shadow: -2px 2px 30px rgba(0, 0, 0, 0.25), -2px 4px 14px rgba(0, 0, 0, 0.1);
	margin-bottom: 16px;
	/*text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);*/
	/*text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.3), -2px 4px 2px rgba(0, 0, 0, 0.1);*/
}
.section {
	padding-top: 80px;
	padding-bottom: 80px;

	color: rgba(0,0,0,.8);

	h1 {
		margin-bottom: 1.3rem;
		font-weight: 400;
		font-size: 25px;
	}

	p {
		font-weight: 300;
		// font-family: "Noto Serif";
		line-height: 2rem;
		letter-spacing: -0.2px;
		word-spacing: .05rem;
		margin-bottom: 2rem;
	}

	.section-subtitle {
		max-width: 800px;
		margin-top: -1rem;
		font-size: 20px;
		// font-family: "Noto Sans";
	}

	.section-subtitle.full-length {
		max-width: 100%
	}
}

.section.gray {
	background-color: #f4f4f4;
}

.section.call-out {
	background-color: #2b3137;
	color: white;
	background-image: linear-gradient(180deg, #24292e, #2b3137);
	padding-top: 30px;
    padding-bottom: 30px;
	width: 100%;

	.container {
		.call-out-text {
			margin-bottom: 0;
			margin-right: 25px;
		}
		
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
	}
}

$primary-color:	#5a518e;
.primary-color {
	color: $primary-color;
}

// Bootstrap buttons
.btn {
	// font-family: "Noto Sans", sans-serif;
}

.btn-lg {
	font-size: 15px;
	border-radius: 0;
	height: 50px;
	padding-top: 16px;
}

.btn-primary {
	background-color: $primary-color;
	border-color: $primary-color;
}

.btn-primary:hover {
	background-color: darken($primary-color, 5%);
}

.join-wrapper {
    margin-top: 30px;
}

.side-image {
    margin-bottom: 0;

    @media (max-width: 991px) {
        margin-bottom: 40px;
    }
}

.single-image {
	width: 100%;
	height: auto;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 30px;

	img {
		width: 100%;
	}
}

.profile-card {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border-radius: 2px;
}

// nav
.navbar-toggler {
	margin: 15px 0px;
}

nav.container {

}
.rs-nav {
	background-color: white;
	height: 70px;
}

.rs-nav-link {
	color: black !important;
	margin: 0px 7px;
}

.rs-nav-link:hover {
	color: rgb(121, 108, 198) !important;
}

.rs-nav-link.active {
	color: rgb(121, 108, 198) !important;
}

.nav-login {
	border: 1px solid transparent;
	border-width: 1px;
	border-color: rgb(121, 108, 198);
	color: rgb(121, 108, 198) !important;
	background-color: transparent;
}

.nav-login:hover {
	color: white !important;
	background-color: rgb(121, 108, 198);
}

@media (max-width: 575px) {
	nav .container {
		width: 100%
	}
}
@media (max-width: 991px) {
	.nav-login {
		border-width: 0px;
		color: black !important;
	}

	.nav-login:hover {
		color: rgb(121, 108, 198) !important;
		background-color: initial;
	}
}