 .section {
    margin-top: 15px;
    padding-bottom: 15px;
 }

 .news-img {
    filter: grayscale(100%);
    :hover {
        filter: grayscale(0%);
    }
    flex: 1 2 200px;
    max-width: 200px;
 }

 .value {
    flex: 1 2 200px;
    justify-content: center;
    max-width: 300px;
    padding: 20px 15px;
 }

 .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
 }
