 .news-img {
    filter: grayscale(100%);
    &:hover {
        filter: grayscale(0%);
    }
    margin: 0 auto;
    flex: 1 2 200px;
    max-width: 200px;
 }

 .value {
    flex: 1 2 200px;
    justify-content: center;
    max-width: 300px;
    padding: 20px 15px;
 }

 .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
 }

.values-container {
    .value {
        h3 {
            margin-top: 20px;
        }

        h5 {
            font-size: 1.15rem;
            line-height: 1.6rem;
        }
    }
}

.profile-card {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border-radius: 2px;
}