 .news-img {
    filter: grayscale(100%);
    &:hover {
        filter: grayscale(0%);
    }
    margin: 0 auto;
    flex: 1 2 200px;
    img {
        width: 150px;
        max-height: 55px;
    }
 }

 .value {
    flex: 1 2 200px;
    justify-content: center;
    max-width: 300px;
    padding: 20px 15px;
 }

 .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
 }

.media-container {
    max-width: 600px;
}

.values-container {
    .value {
        h3 {
            margin-top: 20px;
        }

        h5 {
            font-size: 1.15rem;
            line-height: 1.6rem;
        }
    }
}