 .news-img {
    filter: grayscale(100%);
    &:hover {
        filter: grayscale(0%);
    }
    margin: 0 auto;
    flex: 1 2 200px;

    // width: 230px;
    height: 150px;
    padding: 10px;

    img {
        width: auto;
        max-height: 55px;
        margin-left: 10px;
        margin-right: 10px;
    }
 }

 .value {
    flex: 1 2 200px;
    justify-content: center;
    max-width: 300px;
    padding: 20px 15px;

    h5 {
        font-weight: normal;
        font-size: 18px;
    }
 }

 .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
 }

.media-container {
    max-width: 1000px;
}

.values-container {
    .value {
        h3 {
            margin-top: 20px;
        }

        h5 {
            font-size: 1.15rem;
            line-height: 1.6rem;
            font-weight: 300;
        }
    }
}