@import "./_colors.scss";

.adventure, .rockstars-cards {
	text-align: center;
}

.adventure {
	margin-bottom: 40px;

	.col-6,
	.col-sm-4,
	.col-md-2 {
		padding: 0;

		img {
			width: 100%;
		}
	}
}

.rockstar-intro-split {
	margin-top: 40px;
}

.rockstar-intro-callout {
	h5 {
		margin-bottom: 1rem;
	}
}

.rockstars-of-canada-title {
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		margin-left: 7.5px;
		margin-right: 7.5px;
	}
}

.rockstars-cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
}

.rs-profile {
	font-family: "Noto Sans";
	padding: 0;
	margin: 0 auto;
	
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
	background-color: white;
    border-radius: 2px;
	max-width: 265px;
	width: 100%;

	a {
	 	display: block;
		text-decoration: none;
		color: black;
	}

	.headshot {
		max-height: 310px;
		overflow-y: hidden;
	}

	img {
		width: 100%;
		height: auto;
	}

	.rs-description {
		display: block;
		padding: 10px 10px;
		padding-bottom: 13px;
	}

	.rs-name {
		font-size: 23px;
		font-weight: 600;
		color: rgba(0,0,0,.8);
	}

	.rs-role {
		font-size: 16px;
		color: $secondary-purple;
		margin-top: -5px;
		margin-bottom: -5px;
	}

	.rs-company {
		font-size: 16px;
		color: $secondary-purple;
	}

	a:hover {

		img {
			filter: brightness(110%);
		}
	}
}

.rockstar-card {
	font-family: "Noto Sans";
	padding: 0;
	margin: 0 auto;
	max-width: 265px;
	width: 100%;
	
	// padding-bottom: 15px;

	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
	background-color: white;
    border-radius: 2px;

	// a {
	// 	display: block;
	// 	width: 100%;
	// 	max-height: 280px;
	// 	overflow: hidden;
	// }

	// a:hover {
	// 	filter: brightness(110%);
	// }

	.rockstar-name {
		margin-top: 10px;
		font-size: 22.5px;
		font-weight: bold;
		letter-spacing: 1px;
	}
	
	.rockstar-title {
		font-size: 16px;
		color: #929292;
		margin-top: -5px;
		margin-bottom: -5px;
	}

	.rockstar-company {
		font-size: 16px;
		color: #929292;
		margin-bottom: -2.5px;
		margin-bottom: -2.5px;
	}
}