body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

p {
	font-weight: 300;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

h3 {
	@media (max-width: 575px) {
		font-size: 1.5rem;
	}

	font-size: 24px;
}