/****************************************

GLOBAL

****************************************/
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

html {
  margin: 0;
  box-sizing: inherit;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

h3 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.40px;
}

p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.40px;
  line-height: 22px;
  word-wrap: break-word;
}

a.fake {
  color: #000000;
  text-decoration: none;
  cursor: pointer;

}

/****************************************

VARIABLES

****************************************/
/****************************************

NAV

****************************************/
.header {
  position: relative;
  text-align: right;
}

.logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.nav {
  line-height: 100px;
}

.nav span {
  padding-left: 25px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.40px;
}

.nav span:hover {
  color: #8272b3;
}

.nav span.button {
  color: #8272b3;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #8272b3;
  border-radius: 2px;
  width: 50px;
  height: 20px;
  margin: 10px 20px;
}

.nav span.button:hover {
  background-color: #8272b3;
  color: #ffffff;
}

/****************************************

MAIN

****************************************/
.main-wrapper {
  width: 1000px;
  margin: 0 auto;
}

.main-banner {
  position: relative;
  background-color: #8272b3;
  height: 550px;
  /* background: #111 url("images/banner1.jpg") center no-repeat;
    background-size: cover;
    overflow-x: hidden; */
}

.main-banner-overlay {
  opacity: 0;
  background: #000;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}

.main-banner-wrapper {
  height: 100%;
  margin: 0 auto;
  width: 81rem;
}

.main-banner-wrapper .inner-content {
  position: relative;
  top: 60%;
  transform: translateY(-50%);
}

.headings {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.8px;
  color: #fff;
}

.sub-headings {
  padding-top: 30px;
  font-size: 17.5px;
  text-align: center;
  line-height: 29px;
  font-weight: 300;
  letter-spacing: 0.58px;
  color: #fff;
}

.heading-button {
  padding: 15px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  margin: 40px auto 0 auto;
  border: 1px solid #fff;
  border-radius: 2px;
  display: inline-block;
  width: 200px;
  margin: 0px 10px;
  letter-spacing: 0.58px;
}

.heading-button:hover {
  background-color: #fff;
  color: #8272b3;
}

/****************************************

TRIPLE

****************************************/
.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.section-triple {
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 0;
  text-align: left;
}

.section-triple span {
  display: inline-block;
  width: 200px;
  height: 150px;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.40px;
  margin: 25px;
  margin-bottom: 100px;
  vertical-align: top;
}

.section-triple h3 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.40px;
}

.section-triple p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.40px;
  line-height: 22px;
  word-wrap: break-word;
}

.section-triple .heading-button {
  padding: 10px;
  color: #8272b3;
  text-align: center;
  font-size: 14px;
  margin: 10px 0;
  border: 1px solid #8272b3;
  border-radius: 2px;
  display: inline-block;
  width: 150px;
  height: 18px;
  letter-spacing: 0.58px;
}

.section-triple .heading-button:hover {
  background-color: #8272b3;
  color: #fff;
  border: 1px solid #8272b3;
}


}

/****************************************

VIDEO

****************************************/
.bg-grey {
  background-color: #f7f7f7;
}

.section-video-wrapper {
  padding: 48px 0px;
  margin: 0 auto;
  width: 1200px;
  font-size: 0;
}

.section-video-wrapper .info {
  display: inline-block;
  width: 550px;
  vertical-align: top;
  height: 400px;
  background-color: #fff;
  padding: 20px;
  padding-top: 0px;
  box-sizing: border-box;
}

.section-video-wrapper .info h3 {
  font-size: 27px;
  font-weight: 300;
  letter-spacing: 0.40px;
}

.section-video-wrapper .info p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.40px;
  line-height: 22px;
  word-wrap: break-word;
}

.section-video-wrapper .info .heading-button {
  padding: 10px;
  color: #8272b3;
  text-align: center;
  font-size: 14px;
  margin: 10px 0;
  border: 1px solid #8272b3;
  border-radius: 2px;
  display: inline-block;
  width: 150px;
  letter-spacing: 0.58px;
}

.section-video-wrapper .info .heading-button:hover {
  background-color: #8272b3;
  color: #fff;
  border: 1px solid #8272b3;
}

.section-video-wrapper .video {
  display: inline-block;
  width: 650px;
  vertical-align: top;
  background-color: #8272b3;
  height: 400px;
}

/****************************************

Full width video

****************************************/
/****************************************

ROCKSTARS

****************************************/
.rockstars-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.section-rockstars {
  margin-top: 100px;
  font-size: 0;
  text-align: center;
}

.section-rockstars span {
  display: inline-block;
  width: calc(100%/4);
  margin-bottom: 20px;
  vertical-align: top;
}

.section-rockstars h3 {
  margin-bottom: 40px;
}

.section-rockstars .box {
  width: 90%;
  margin: 0 auto;
  background-color: #fbfafa;
  border: 1px solid #ccc;
  height: 400px;
}

.section-rockstars .heading-button {
  padding: 10px;
  color: #8272b3;
  text-align: center;
  font-size: 14px;
  margin: 10px 0;
  border: 1px solid #8272b3;
  border-radius: 2px;
  display: inline-block;
  width: 150px;
  height: 18px;
  letter-spacing: 0.58px;
}

.section-rockstars .heading-button:hover {
  background-color: #8272b3;
  color: #fff;
  border: 1px solid #8272b3;
}

****************************************/
/****************************************

BLOG

****************************************/
.blog-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.section-blog {
  margin-top: 100px;
  font-size: 0;
  text-align: center;
}

.section-blog h3 {
  margin-bottom: 40px;
}

.section-blog span.aspot {
  display: inline-block;
  width: calc(91.78%);
  margin-bottom: 20px;
  margin-left: 1px;
  vertical-align: top;
  height: 100px;
}

.section-blog span.bspot {
  display: inline-block;
  width: calc(90%/2);
  margin-bottom: 20px;
  margin-right: 0px;
  margin-left: 0px;
  vertical-align: top;
  height: 100px;
}

.section-blog span.cspot {
  display: inline-block;
  width: calc(70%/3);
  margin-bottom: 20px;
  margin-left: 4px;
  margin-right: 5px;
  vertical-align: top;
  height: 100px;
}

.section-blog .box {
  width: 96%;
  margin: 0 auto;
  background-color: #fbfafa;
  border: 1px solid #ccc;
  display: inline-block;
  height: 100%;
}

.section-blog .heading-button {
  padding: 10px;
  color: #8272b3;
  text-align: center;
  font-size: 14px;
  margin: 10px 0;
  border: 1px solid #8272b3;
  border-radius: 2px;
  display: inline-block;
  width: 150px;
  height: 18px;
  letter-spacing: 0.58px;
}

.section-blog .heading-button:hover {
  background-color: #8272b3;
  color: #fff;
  border: 1px solid #8272b3;
}

/****************************************

    MEDIA QUERIES

***************************************/
/*Tablets*/
@media screen and (max-width:800px){
  
  /*index*/

  html.no-js{
    width:inherit;
    height:inherit;
  }

  div.main-wrapper.header{
    width:inherit;
  }
  
   div.main-wrapper.header img{
    margin:0px 0px 0px 20px;
  }

  div.section-video-wrapper{
    width:inherit;
  }

  div.wrapper.section-triple{
    width:inherit;
  }
  
  div.rockstars-wrapper.section-rockstars{
    width:100%;
    margin:0;
  }

  img#nelshern{
    width:95%;
    height:60%;
  }
  img#humberto{
    width:95%;
    height:60%;
  }
  img#rachelpautler{
    width:95%;
    height:60%;
  }

  img#tinachan{
    width:95%;
    height:60%;
  }

  div.rockstars-wrapper.section-rockstars span.box{
    width:95%;
    height:75%;
    border:0;
  }

  /*div.heading-button{
     //#8272b3;
     //background-color:rgba(240, 248, 255, 0.59);
     //color: #8272b3;
  }
  */

  div.section-video-wrapper div.info{
    margin:15px 118px 15px 100px; 
  }

  div.video {
    margin: 0px 5px 0px 60px;
  }

  div.wrapper.section-triple{
    margin:50px 20px 90px 20px;
  }

  div.wrapper.section-triple span{
    margin:50px 20px 90px 20px;
  }
  div.wrapper.section-triple span.heading-button{
    margin:0px 20px 0px 20px;
  }

  div.blog-wrapper.section-blog{
    margin-top:95px;
  }

  /*ourstory*/
  div.main-banner {
    width:inherit;
    height:;
    
  }

  div.main-banner-wrapper{
    width:100%;
    height:62%;
  }

  div.main-banner-wrapper img{
    width:100%;
    height:62%
  }

  div.main-banner-overlay{
    width:99%;
    height:62%;
  }

  div.section-video-wrapper div.info{
   margin:0px 0px 70px 120px;
  }

  div.wrapper.section-triple span.quad:nth-child(5){
    margin-left:255px;
  }

  div.wrapper.section-triple span.quad img{
    margin-left:70px;
  }

  div.wrapper.section-triple span.quad h3{
    text-align:center;
  }

  div.wrapper.section-triple span.quad p{
    text-align:center;
  }

  div.wrapper.section-triple span.quad:nth-child(3) h3{
    text-align:left;
    margin-left:70px;
  }

  div.wrapper.section-triple span.quad:nth-child(4) img{
    margin-left:75px;
  }
  
  div.rockstars-wrapper.section-rockstars span{
    margin:15px 50px 20px 0px;
  }

  div.rockstars-wrapper.section-rockstars span.heading-button{
    margin-left:50px;
  }

  div.rockstars-wrapper.section-rockstars img{
    width:225px;
  }

  /*rockstars*/
   div.rockstars-wrapper.section-rockstars span.dspot{
    display:inline-block;
    margin:0px;
    margin-bottom:0px;
    width:120px;
  }

  div.rockstars-wrapper.section-rockstars span.dspot img{
    display:inline-block;
    margin:0px 0px 0px 0px;
    width:120px;
  }

  div.rockstars-wrapper.section-rockstars h3 img{
    width:inherit;
  }

  div.rockstars-wrapper.section-rockstars span{
    width:200px;     
  }
  
  div.rockstars-wrapper.section-rockstars img#tinachan{
    width:225px;
  }
  
  div.rockstars-wrapper.section-rockstars img#rachelpautler{
    width:225px;
  }

  div.rockstars-wrapper.section-rockstars span.heading-button{
    margin:inherit;
  }

  /*mentors*/
  div.heading-button{
    background-color:rgba(255, 255, 255, 0.23);
  }
  


}

/*Phones*/
@media screen and (max-width:400px){


}

/*Smaller Phones*/
@media screen and (max-width:300px){



}