/****************************************

GLOBAL

****************************************/

@import "bourbon";
@import "neat";

html{
	margin:0;
	box-sizing: inherit;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
	margin:0;
	font-family: 'Roboto', sans-serif;
	font-size:12px;
}

h3{
		font-size: 24px;
		font-weight: 300;
    	letter-spacing:0.40px;
	}

p{
		font-size: 14px;
		font-weight: 300;
    	letter-spacing:0.40px;
    	line-height: 22px;
    	word-wrap: break-word;

	}

/****************************************

VARIABLES

****************************************/
$purple: #8272b3;

/****************************************

NAV

****************************************/

.header{
	position:relative;
	text-align:right;
}

.logo{
	position: absolute;
	top: 50% ;
	transform:translateY(-50%);
	left: 0;
}

.nav{
	line-height: 100px;

	span{
		padding-left:25px;
		font-size: 14px;
		font-weight: 300;
    	letter-spacing:0.40px;
	}
}
/****************************************

MAIN

****************************************/

.main-wrapper{
	width:1000px;
	margin: 0 auto;
}

.main-banner{
	position: relative;
	background-color: $purple;
	height:550px;
    
    /* background: #111 url("images/banner1.jpg") center no-repeat;
    background-size: cover;
    overflow-x: hidden; */
}

.main-banner-overlay{
	opacity: 0;
	background: #000; 
	position:absolute; 
	top:0px; 
	height:100%; 
	width:100%;
}

.main-banner-wrapper{
	height: 100%;
    margin: 0 auto;
    width: 81rem;

    .inner-content{
    	position:relative;
    	top: 50%;
    	transform:translateY(-50%);
    }

}

.headings{
	font-size:39px;
	font-weight: 300;
	letter-spacing:0.8px;
	color:#fff;
}

.sub-headings{
	padding-top:30px;
	font-size: 17.5px;
    text-align: center;
    line-height: 29px;
    font-weight: 300;
    letter-spacing:0.58px;
    color:#fff;
}

.heading-button{
	padding:15px;
	color:#fff; 
	text-align:center; 
	font-size:14px; 
	margin: 40px auto 0 auto;
	border: 1px solid #fff;
	border-radius: 2px;
	display:inline-block;
	width:200px;
	margin: 0px 10px;
    letter-spacing:0.58px;
}

.heading-button:hover{
	background-color:#fff;
	color: $purple;
}

/****************************************

TRIPLE

****************************************/
.wrapper{

	width:960px;
	margin: 0 auto;
}
.section-triple{
	margin-top:50px;
	font-size:0;
	text-align: left;

	span{
		display: inline-block;
		width: 300px;
		height: 150px;
		font-size: 24px;
		font-weight: 300;
    	letter-spacing:0.40px;
    	margin:10px;
    	margin-bottom: 20px;
    	vertical-align: top;

	}

	h3{
		font-size: 24px;
		font-weight: 300;
    	letter-spacing:0.40px;
	}

	p{
		font-size: 14px;
		font-weight: 300;
    	letter-spacing:0.40px;
    	line-height: 22px;
    	word-wrap: break-word;

	}
}

/****************************************

VIDEO

****************************************/
.bg-grey{
	background-color:#f7f7f7;
}
.section-video-wrapper{
	padding: 48px 0px;
	margin: 0 auto;
	width: 1000px;
	font-size:0;

	.info {
		display: inline-block;
		width: 350px;
		vertical-align: top;
		height: 400px;
		background-color:#fff;
		padding: 45px;
		box-sizing:border-box;

					h3{
					font-size: 27px;
					font-weight: 300;
			    	letter-spacing:0.40px;
				}

				p{
					font-size: 14px;
					font-weight: 300;
			    	letter-spacing:0.40px;
			    	line-height: 22px;
			    	word-wrap: break-word;

				}

				.heading-button{
					padding:10px;
					color:#000; 
					text-align:center; 
					font-size:14px; 
					margin: 10px 0;
					border: 1px solid #000;
					border-radius: 2px;
					display:inline-block;
					width:150px;
				    letter-spacing:0.58px;
				}

				.heading-button:hover{
					background-color:#fff;
					color: $purple;
				}

	}
	.video{
		display: inline-block;
		width: 650px;
		vertical-align: top;
		background-color:$purple;
		height: 400px;
	}
}


/****************************************

Full width video

****************************************/

.section-video{
	
}

/****************************************

ROCKSTARS

****************************************/

.rockstars-wrapper{
	width:1200px;
	margin: 0 auto;
}
.section-rockstars{
	margin-top:100px;
	font-size:0;
	text-align: center;

	span {
		display: inline-block;
    	width: calc(100%/4) ;
    	margin-bottom: 20px;
    	vertical-align: top;
    	
	}

	h3{
		margin-bottom:40px;
	}

	.box {
		width: 90%;
		margin: 0 auto;
		background-color:#fbfafa;
    	border: 1px solid #ccc;
		height: 400px;

	}

}






