/****************************************

GLOBAL

****************************************/
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

html {
  margin: 0;
  box-sizing: inherit;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

h3 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.40px;
}

p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.40px;
  line-height: 22px;
  word-wrap: break-word;
}

a.fake {
  color: #000000;
  text-decoration: none;
  cursor: pointer;

}

span {
  position: relative;
}

div {
  position: relative;
}

/****************************************

VARIABLES

****************************************/
/****************************************

NAV

****************************************/
.header {
  position: relative;
  text-align: right;
}

.logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.nav {
  line-height: 100px;
}

.nav span {
  padding-left: 25px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.40px;
}

.nav span:hover {
  color: #8272b3;
}

.nav span.button {
  color: #8272b3;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #8272b3;
  border-radius: 2px;
  width: 50px;
  height: 20px;
  margin: 0px 20px;
}

.nav span.button:hover {
  background-color: #8272b3;
  color: #ffffff;
}

/****************************************

MAIN

****************************************/
.inner-content {
  padding: 0px !important;
}
.vertical-align {
  display: flex;
  align-items: center;
}

.hero-banner {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.main-wrapper {
  width: 1000px;
  margin: 0 auto;
}

.main-banner {
  position: relative;
  background-color: #8272b3;
  height: 550px;
  text-align: center;
  /* background: #111 url("images/banner1.jpg") center no-repeat;
    background-size: cover;
    overflow-x: hidden; */
}

.main-banner-overlay {
  opacity: 0;
  background: #000;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}

.main-banner-wrapper {
  height: 100%;
  margin: 0 auto;
}

.main-banner-wrapper .inner-content {
  position: relative;
  top: 60%;
  transform: translateY(-50%);
}

.headings {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.8px;
  color: #fff;
}

.sub-headings {
  padding-top: 30px;
  font-size: 17.5px;
  text-align: center;
  line-height: 29px;
  font-weight: 300;
  letter-spacing: 0.58px;
  color: #fff;
}

.heading-button {
  padding: 15px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  margin: 40px auto 0 auto;
  border: 1px solid #fff;
  border-radius: 2px;
  display: inline-block;
  width: 200px;
  margin: 0px 10px;
  letter-spacing: 0.58px;
}

.heading-button:hover {
  background-color: #fff;
  color: #8272b3;
}

/****************************************

TRIPLE

****************************************/
.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.section-triple {
  margin-top: 50px;
  margin-left: 35px;
  margin-bottom: 200px;
  font-size: 0;
  text-align: center;
}

.section-triple span {
  display: inline-block;
  width: 300px;
  height: 150px;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.40px;
  margin: 10px;
  margin-bottom: 40px;
  vertical-align: top;
}

.section-triple span .quad {
  display: inline-block;
  width: 50px;
  height: 150px;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.40px;
  margin: 10px;
  margin-bottom: 60px;
  vertical-align: top;
}

.section-triple h3 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.40px;
}

.section-triple p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.40px;
  line-height: 22px;
  word-wrap: break-word;
}

.section-triple .heading-button {
  padding: 10px;
  color: #8272b3;
  text-align: center;
  font-size: 14px;
  margin: 10px 0;
  border: 1px solid #8272b3;
  border-radius: 2px;
  display: inline-block;
  width: 150px;
  height: 18px;
  letter-spacing: 0.58px;
}

.section-triple .heading-button:hover {
  background-color: #8272b3;
  color: #fff;
  border: 1px solid #8272b3;
}


/****************************************

VIDEO

****************************************/
.bg-grey {
  background-color: #f7f7f7;
}

.section-video-wrapper {
  padding: 48px 0px;
  margin: 0 auto;
  width: 1200px;
  font-size: 0;
}

.section-video-wrapper .info {
  display: inline-block;
  width: 550px;
  vertical-align: top;
  height: 400px;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.section-video-wrapper .info h3 {
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 0.40px;
  line-height: 40px;
}

.section-video-wrapper .info p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.40px;
  line-height: 22px;
  word-wrap: break-word;
}

.section-video-wrapper .info .heading-button {
  padding: 10px;
  color: #8272b3;
  text-align: center;
  font-size: 14px;
  margin: 10px 0;
  border: 1px solid #8272b3;
  border-radius: 2px;
  display: inline-block;
  width: 150px;
  letter-spacing: 0.58px;
}

.section-video-wrapper .info .heading-button:hover {
  background-color: #8272b3;
  color: #fff;
  border: 1px solid #8272b3;
}

.section-video-wrapper .video {
  display: inline-block;
  width: 650px;
  vertical-align: top;
  background-color: #8272b3;
  height: 400px;
}

/****************************************

Full width video

****************************************/
/****************************************

ROCKSTARS

****************************************/
.rockstars-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.section-rockstars {
  margin-top: 100px;
  font-size: 0;
  text-align: center;
}

.section-rockstars span {
  display: inline-block;
  width: calc(100%/4);
  margin-bottom: 20px;
  vertical-align: top;
}

.section-rockstars h3 {
  margin-bottom: 40px;
}

.section-rockstars .box {
  width: 90%;
  margin: 0 auto;
  background-color: #fbfafa;
  border: 1px solid #ccc;
  height: 400px;
}

.section-rockstars .heading-button {
  padding: 10px;
  color: #8272b3;
  text-align: center;
  font-size: 14px;
  margin: 10px 0;
  border: 1px solid #8272b3;
  border-radius: 2px;
  display: inline-block;
  width: 150px;
  height: 18px;
  letter-spacing: 0.58px;
}

.section-rockstars .heading-button:hover {
  background-color: #8272b3;
  color: #fff;
  border: 1px solid #8272b3;
}

****************************************/
/****************************************

BLOG

****************************************/
.blog-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.section-blog {
  margin-top: 100px;
  font-size: 0;
  text-align: center;
}

.section-blog h3 {
  margin-bottom: 40px;
}

.section-blog span.aspot {
  display: inline-block;
  width: calc(91.78%);
  margin-bottom: 20px;
  margin-left: 1px;
  vertical-align: top;
  height: 250px;
}

.section-blog span.bspot {
  display: inline-block;
  width: calc(90%/2);
  margin-bottom: 20px;
  margin-right: 0px;
  margin-left: 0px;
  vertical-align: top;
  height: 250px;
}

.section-blog span.cspot {
  display: inline-block;
  width: calc(88%/3);
  margin-bottom: 20px;
  margin-left: 4px;
  margin-right: 5px;
  vertical-align: top;
  height: 250px;
}

.section-blog .box {
  width: 96%;
  margin: 0 auto;
  background-color: #fbfafa;
  border: 1px solid #ccc;
  display: inline-block;
  height: 100%;
}

.section-blog .heading-button {
  padding: 10px;
  color: #8272b3;
  text-align: center;
  font-size: 14px;
  margin: 10px 0;
  border: 1px solid #8272b3;
  border-radius: 2px;
  display: inline-block;
  width: 150px;
  height: 18px;
  letter-spacing: 0.58px;
}

.section-blog .heading-button:hover {
  background-color: #8272b3;
  color: #fff;
  border: 1px solid #8272b3;
}

/****************************************

    MEDIA QUERIES

***************************************/
/*Tablets*/
@media screen and (max-width:800px){
  
  html.no-js{
    width:inherit;
    height:inherit;
  }

  .main-banner-wrapper img{
    object-fit:cover;
  }
  
  .headings{
    padding-top:30px;
  }

  .sub-headings{
    padding-top:25px;
  }

  .heading-button{
    background-color:rgba(255, 255, 255, 0.23);
  }

  .main-wrapper.header{
    width:inherit;
  }
  
  .main-banner-wrapper {
  height: 100%;
  margin: 0 auto;
  }

  .main-banner-overlay {
  height: 100%;
  margin: 0 auto;
  }

  .main-banner{
  height: 350px;
  margin: 0 auto;
  }


   .main-wrapper.header img{
    margin:0px 0px 0px 20px;
  }

  .section-video-wrapper{
    width:inherit;
  }

   .wrapper.section-triple{
    width:inherit;
  }
  
   .rockstars-wrapper.section-rockstars{
    width:100%;
    margin:0;
  }

  img#nelshern{
    width:95%;
    height:60%;
  }
  img#humberto{
    width:95%;
    height:60%;
  }
  img#rachelpautler{
    width:95%;
    height:60%;
  }

  img#tinachan{
    width:95%;
    height:60%;
  }

   .rockstars-wrapper.section-rockstars span.box{
    width:95%;
    height:75%;
    border:0;
  }

  /* .heading-button{
     //#8272b3;
     //background-color:rgba(240, 248, 255, 0.59);
     //color: #8272b3;
  }
  */

   .section-video-wrapper  .info{
    margin:15px 118px 15px 100px; 
  }

   .video {
    margin: 0px 5px 0px 60px;
  }

   .wrapper.section-triple{
    margin:50px 20px 90px 20px;
  }

   .wrapper.section-triple span{
    margin:50px 20px 90px 20px;
  }
   .wrapper.section-triple span.heading-button{
    margin:0px 20px 0px 20px;
  }

   .blog-wrapper.section-blog{
    margin-top:95px;
  }

  .blog-wrapper.section-blog img{
    object-fit:cover;
  }

  .blog-wrapper.section-blog span{
    height:80%;
  }
  

}

/*Phones*/
@media screen and (max-width:450px){
  
}

/*Smaller Phones*/
@media screen and (max-width:300px){



}